{# This is the 'main' or 'control' page #}

{% extends "base.html" %}

{% block app_content %}
    <h1>Main / Control Screen</h1>
    <form action="{{ url_for('results') }}" method="POST">
        {{ form.hidden_tag() }}
        {#
        <hr>
        {{ form.browse }}
        <hr>
        #}
        <fieldset>
          <legend class="custom">
            <span>Action</span>
          </legend>
          <div class="bordered action titled">
            {% for action in form.actions %}
              <span class='padded-left'>{{ action }}</span>
              <span class='padded-left'>{{ action.label }}</span>
              <br>
            {% endfor %}
          </div>
        </fieldset>

        {{ form.all }} {{ form.go }} {{ form.exit }}
        <br>

    </form>
{% endblock %}
